
services:
  backend:
    build: ./backend
    container_name: backend-service
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app #
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true

  frontend:
    build: ./frontend
    container_name: frontend-service
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
